body{
    background-image: url("land-o-lakes-inc-TXdLi87NmJQ-unsplash.jpg");
    color:black;
    background-size: cover;
        text-align: center;

    
}
.head{
    display: block;

}

.btn{
    margin: 0px auto;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    border-radius: 1px;
}